@import url("http://fonts.cdnfonts.com/css/mollen-personal-use");

.about {
    padding-top: 80px;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
.about p {
    font-size: 1.25rem;
    color: #a7a7a7;
    line-height: 2.475rem;
}

@media (min-width: 950px) {
  .about p {
    font-size: 1.0188rem;
    font-family: "Mollen Personal Use", sans-serif;
  }
}

@media (min-width: 1200px) {
  .about {
    width: 540.4px;
    padding-top: 80px;
  }
}
