.footer {
  height: 8rem;
  background-color: #252525;
  color: #e5e5e5;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
}

@media (min-width: 650px) {
  .footer {
    font-size: 0.875rem;
    height: 6rem;
  }
}

´.footer p {
  display: inline-block;
}
.footer p:last-of-type {
  margin-top: 0;
}
.footer p:firts-of-type {
  margin-bottom: 0;
}
.footer p a {
  text-decoration: none;
}
