.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
}
@media(min-width: 768px) {
    .image{
        width: 535px;
    }
}